.modal {
  background: var(--base-white, #fff);
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  padding: 1.5rem 1rem;
  width: 25rem;
  max-width: 90vw;
}

.btnGroup {
  display: flex;
  align-items: center;
}

.categories {
  margin-bottom: 1.5rem;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}

.addCategoryBtn {
  display: flex !important;
  margin: 1rem auto;
  font-weight: 500;
}

.addCategoryBtn span:first-child {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.28125rem;
  justify-content: center;
  align-items: center;
  border-radius: 12.5rem;
  background: var(--brand-primary-light, #e8edfc);
}

.addCategoryBtn span svg {
  transform: scale(0.8);
  margin-left: -0.3rem;
}

.category:hover,
.category[data-selected="true"] {
  background: var(--neutrals-200, #f0f2f7);
}

.categoryBtnGroup {
  padding: 1rem 0 1.5rem;
}

.categoryBtnGroup > button {
  padding-right: 2rem;
}

.categoryBtnGroup > button:nth-child(2) svg {
  transform: scale(0.8);
}

.category button {
  outline: none;
  border: none;
  background-color: transparent;
  padding-left: 0.5rem;
  font-size: 16px;
  cursor: pointer;
}

.subCategoriesModal {
  padding: 1.25rem;
  background: var(--base-white, #fff);
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  width: 16rem;
  max-width: 80vw;
}

.subCategoryBtnGroup {
  margin: 0.5rem 0;
}

.subCategoryBtnGroup > button {
  padding-right: 0.5rem;
  font-size: 0.75rem !important;
}

.subCategoryBtnGroup > button > svg {
  transform: scale(0.8);
}

.subCategoryBtnGroup > button:nth-child(2) svg {
  transform: scale(0.6);
}

.subCategoryBtnGroup > button > * + * {
  padding-left: 0.1rem !important;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleWrapper h3 {
  color: var(--neutrals_900, #121314);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.closeSubCategoriesBtn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
