.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.wrapper > div {
  width: 100%;
}

.wrapper > * + * {
  margin-left: 2rem;
}

.wrapper > * + * {
  margin-left: 2rem;
}

.wrapper[data-direction="vertical"] {
  flex-direction: column;
}

.wrapper[data-direction="vertical"] > * + * {
  margin-left: 0;
  margin-top: 0.5rem;
}

.label {
  color: var(--neutrals-600, #84868a);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
  min-width: 10rem;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--neutrals-500, #b3b5ba);
  width: 100%;
}

.inputWrapper input {
  padding: 0.625rem 0.875rem;
  outline: none;
  border: 1px solid var(--neutrals-300, #e4e5eb);
  background: var(--neutrals-100, #fafbfc);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--neutrals-800, #2f3033);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  width: 100%;
}

.icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.startIcon {
  left: 0.875rem;
}

.endIcon {
  right: 0.875rem;
}

.inputWrapper[data-starticon="true"] input {
  padding-left: 2.75rem;
}

.inputWrapper[data-endicon="true"] input {
  padding-right: 2.75rem;
}

.inputWrapper input::placeholder {
  color: var(--neutrals-500, #b3b5ba);
}

.inputWrapper input:focus {
  border-color: var(--brand-primary-default, #0039e9);
}

.inputWrapper input[data-error="true"] {
  border-color: var(--interface-red-dark, #c44835);
}

.error {
  display: inline-block;
  color: var(--interface-red-dark, #c44835);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-top: 0.5rem;
}
