.wrapper {
  padding: 2.5rem 0rem;
}

.heading {
  color: var(--neutrals-800, #2f3033);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 114.286% */
  letter-spacing: -0.028rem;
}

.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.authorListWrapper {
  padding: 1rem 0;
}

.authorListWrapper > * + * {
  margin-top: 2rem;
}
