@import "./container.css";
@import "./typography.css";

:root {
  --brand_primary_dark: #001f80;
  --brand_primary_default: #0039e9;
  --brand_primary_light: #e8edfc;
  --brand_secondary_default: #fb9b2a;
  --brand_secondary_light: #fcecd9;
  --brand_secondary_dark: #804f15;
  --neutrals_100: #fafbfc;
  --neutrals_200: #f0f2f7;
  --neutrals_300: #e4e5eb;
  --neutrals_400: #d0d1d6;
  --neutrals_600: #84868a;
  --neutrals_700: #6d6e73;
  --neutrals_800: #2f3033;
  --neutrals_900: #121314;
  --base_white: #ffffff;
  --interface_red_light: #fcebe8;
  --interface_red_dark: #c44835;
  --interface_red_default: #fa3314;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font_primary);
}

html,
body {
  background: var(--neutrals-100, #fafbfc);
}

a {
  text-emphasis: none;
  text-decoration: none;
}
