.wrapper {
  margin: 0rem 0 2rem;
  border-bottom: 2px solid var(--neutrals-200, #f0f2f7);
}

.wrapper > * {
  padding: 1rem;
  border-bottom: 2px solid var(--neutrals-200, #f0f2f7);
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0rem 2.5rem;
  }

  .wrapper > * {
    padding: 3rem;
  }

  .wrapper > *:nth-child(odd) {
    padding-left: 0rem;
    padding-right: 2.5rem;
    border-right: 2px solid var(--neutrals-200, #f0f2f7);
  }

  .wrapper > *:nth-child(even) {
    padding-left: 2.5rem;
    padding-right: 0rem;
  }
}
